* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/04.webp);
}

img {
    max-width: 100%;
}

.section {
    padding: 200px 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.header {
    min-height: 40px;
    margin-left: 35px;
    text-align: center;
    margin-bottom: 50px;
    background-image: url(../img/02.webp);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__carousel {
    color: white;
    font-size: 20px;
}

.carousel__item {
    width: 100%;
    display: none;
    aspect-ratio: 21/9; 
    object-fit: cover;
}

.carousel__item.active {
    display: block;
}

.button {
    width: 30px;
    aspect-ratio: 1;
    background-color: lightgrey;
    font-size: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.button__right {
    top: 60%;
    right: 11%;
}

.button__left {
    top: 60%;
    left: 20px;
}

.img__info {
    position: absolute;
    text-align: end;
    top: 70%;
    right: 11%;
    margin-top: 20px;
    color: white;
    display: none;
    
}

.img__info.active {
    display: block;
}

.tumbnails {
    max-width: 60px;
    height: 200px;
    margin-top: 90px;

}

.tumbnails__item-active {
    transform: scale(1.5);
    border: 2px solid red;
}


